In [25]:
# borrowed from 01_Smoker.ipynb of old DS folder

In [7]:
from pathlib import Path

In [5]:
import pandas as pd
import numpy as np
# from matplotlib import pyplot as plt

In [8]:
# preprocessing tools
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

In [9]:
# Classification algorithms
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

In [8]:
home = Path.cwd()
home

WindowsPath('C:/DataScience2023/SmokerStatus')

In [10]:
home = Path.cwd()
filename2 = home / 'SmokerStatus.csv'
df = pd.read_csv(filename2)
print(df.shape)
df.head(3)

(159256, 24)

,id,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),systolic,...,HDL,LDL,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,dental caries,smoking
0,0,55,165,60,81.0,0.5,0.6,1,1,135,...,40,75,16.5,1,1.0,22,25,27,0,1
1,1,70,165,65,89.0,0.6,0.7,2,2,146,...,57,126,16.2,1,1.1,27,23,37,1,0
2,2,20,170,75,81.0,0.4,0.5,1,1,118,...,45,93,17.4,1,0.8,27,31,53,0,1

In [12]:
X = df.drop('smoking', axis=1)
y = df['smoking']

In [ ]:
from sklearn.feature_selection import mutual_info_classif

In [12]:
# Greyed-out because the calculation takes a long time.
# importances = mutual_info_classif(X, y)
# X.columns[np.argsort(importances)]

In [13]:
selected_features = ['hemoglobin', 'waist(cm)', 'height(cm)', 'age', 'HDL', 'LDL',
       'weight(kg)', 'ALT', 'Gtp', 'triglyceride']

features_to_drop = [features for features in X.columns if features not in selected_features]
X_net = X.drop(features_to_drop, axis=1)
X_net

,age,height(cm),weight(kg),waist(cm),triglyceride,HDL,LDL,hemoglobin,ALT,Gtp
0,55,165,60,81.0,300,40,75,16.5,25,27
1,70,165,65,89.0,55,57,126,16.2,23,37
2,20,170,75,81.0,197,45,93,17.4,31,53
3,35,180,95,105.0,203,38,102,15.9,27,30
4,30,165,60,80.5,87,44,93,15.4,13,17
...,...,...,...,...,...,...,...,...,...,...
159251,40,155,45,69.0,47,72,159,14.5,26,13
159252,50,155,75,82.0,202,64,108,14.5,20,18
159253,40,160,50,66.0,45,87,93,10.9,9,12
159254,50,165,75,92.0,148,55,80,14.4,17,37
159255,40,145,45,76.4,87,87,81,14.0,16,17

In [13]:
# instantiating models with default parameters
"""
pipe_knn = 'knn', make_pipeline(StandardScaler(), KNeighborsClassifier())
pipe_svc = 'svc', make_pipeline(StandardScaler(), SVC())
pipe_lor = 'LoR', make_pipeline(StandardScaler(), LogisticRegression())
models = [pipe_knn, pipe_svc, pipe_lor]
"""

"\npipe_knn = 'knn', make_pipeline(StandardScaler(), KNeighborsClassifier())\npipe_svc = 'svc', make_pipeline(StandardScaler(), SVC())\npipe_lor = 'LoR', make_pipeline(StandardScaler(), LogisticRegression())\nmodels = [pipe_knn, pipe_svc, pipe_lor]\n"

In [14]:
# Using Cross-val-score to calculate the efficacy of the three classification algorithms

In [15]:
"""
score_data = list()
for name, model in models:
    score = cross_val_score(estimator=model,
    X=X_train,
    y=y_train,
    scoring='accuracy',
    cv=5)
    score_data.append((name, score.mean()))
    print(score_data)
"""

"\nscore_data = list()\nfor name, model in models:\n    score = cross_val_score(estimator=model,\n    X=X_train,\n    y=y_train,\n    scoring='accuracy',\n    cv=5)\n    score_data.append((name, score.mean()))\n    print(score_data)\n"

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X_net, y, test_size=0.10)

In [15]:
# final_model is LogisticRegression()
Model_LR = LogisticRegression(max_iter=5000)
Model_LR.fit(X_train, y_train)
y_preds = Model_LR.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [19]:
accuracy_score(y_true=y_test, y_pred=y_preds)

0.7427477081501946

In [20]:
# testing one item
one_item_X_test = X_test.iloc[0]
one_item_array = np.array(one_item_X_test.to_list()).reshape(1, -1)
Model_LR.predict(one_item_array)

c:\datascience2023\venvds2023\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [21]:
# Testing one item, another style
one_thing = X_test.iloc[0, :].to_frame().T
Model_LR.predict(one_thing)

array([1], dtype=int64)

In [23]:
import pickle

In [24]:
# generated and moved to Django folder
# pickle.dump(Model_LR, open('Model_LR_Smoker2023.pkl', 'wb'))